@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap");
:root {
	--nav-bg: #fdcb6e;
	--bg: rgba(135, 207, 235, 0.2);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--bg);
	font-family: "Roboto", sans-serif;
}
.navbar {
	background-color: var(--nav-bg);
}
.logo {
	font-size: 2.4rem;
	padding: 5px 30px;
}
.logo span {
	font-family: "Pacifico", cursive;
}
.logo i {
	font-size: 1.8rem;
}
.btn-wrapper {
	text-align: end;
}
.new-note i {
	color: var(--nav-bg);
	margin-right: 4px;
}

.new-note {
	padding: 2px 4px;
	border-radius: 15px;
	border: none;
	margin: 1rem 2rem;
	font-size: 1.2rem;
	background-color: inherit;
	font-family: "Roboto Condensed", sans-serif;
}
.new-note:hover {
	background-color: var(--nav-bg);
	color: white;
}
.new-note:hover i {
	color: white;
}
.new-note:active {
	background: #c99b47;
}
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.action .btn {
	border-radius: 50%;
	border: none;
	height: 26px;
	width: 26px;
	margin: 4px;
	font-size: 16px;
}
.edit {
	background: green;
	color: white;
}
.edit:hover {
	background: rgb(20, 184, 20);
}
.delete {
	background: orangered;
	color: white;
}
.delete:hover {
	background: rgb(255, 135, 91);
}
.action {
	display: flex;
	justify-content: flex-end;
	padding: 2px 6px;
}
.note {
	width: 22%;
	height: 250px;
	font-size: 0.8rem;
	font-weight: 300;
	background-color: white;
	margin: 1rem;
	box-shadow: 2px 2px 4px #c9c9c9;
	border-radius: 4px;
}
.note-txt {
	overflow-y: auto;
	padding: 10px;
	padding-top: 0;
	height: 84%;
	font-size: 1rem;
	line-height: 1.4;
	resize: none;
	outline: none;
	border: none;
	width: 100%;
	font-family: "Roboto", sans-serif;
}

@media (max-width: 1150px) {
	.note {
		width: 28%;
	}
}
@media (max-width: 768px) {
	.note {
		width: 45%;
	}
	.logo span {
		line-height: 0.8;
	}
}
@media (max-width: 640px) {
	.note {
		width: 90%;
	}
}
